.form > * {
  margin-bottom: 0.5em;
}

.heading,
.subHeading {
  text-align: center;
}

.form label {
  display: block;
}

.form input,
.form textarea,
.form button {
  width: 100%;
  padding: 0.4em 0.8em;
  font-size: inherit;
  border: 1px solid #718096;
  border-radius: 4px;
}

.form button {
  background: var(--primary);
  color: var(--g100);
}

.form textarea {
  min-height: 100px;
}
